{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "ase LIQUID DIGITAL design"
  },
  "host": "wp.wolfspool.chickenkiller.com/wpasecms",
  "basePath": "/wp-json",
  "schemes": [
    "http"
  ],
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/wp/v2/posts": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Current page of the collection.",
            "default": 1,
            "minimum": 1,
            "format": "number"
          },
          {
            "name": "per_page",
            "type": "integer",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "default": 10,
            "minimum": 1,
            "format": "number",
            "maximum": 100
          },
          {
            "name": "search",
            "type": "string",
            "in": "query",
            "description": "Limit results to those matching a string."
          },
          {
            "name": "after",
            "type": "string",
            "in": "query",
            "description": "Limit response to resources published after a given ISO8601 compliant date.",
            "format": "date-time"
          },
          {
            "name": "author",
            "type": "array",
            "in": "query",
            "description": "Limit result set to posts assigned to specific authors.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "author_exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes posts assigned to specific authors.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "type": "string",
            "in": "query",
            "description": "Limit response to resources published before a given ISO8601 compliant date.",
            "format": "date-time"
          },
          {
            "name": "exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "type": "array",
            "in": "query",
            "description": "Limit result set to specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "type": "integer",
            "in": "query",
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "orderby",
            "type": "string",
            "in": "query",
            "description": "Sort collection by object attribute.",
            "default": "date",
            "enum": [
              "date",
              "relevance",
              "id",
              "include",
              "title",
              "slug"
            ]
          },
          {
            "name": "slug",
            "type": "string",
            "in": "query",
            "description": "Limit result set to posts with a specific slug."
          },
          {
            "name": "status",
            "type": "string",
            "in": "query",
            "description": "Limit result set to posts assigned a specific status; can be comma-delimited list of status types.",
            "default": "publish",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private",
              "trash",
              "auto-draft",
              "inherit",
              "any"
            ]
          },
          {
            "name": "filter",
            "type": "string",
            "in": "query",
            "description": "Use WP Query arguments to modify the response; private query vars require appropriate authorization."
          },
          {
            "name": "categories",
            "type": "array",
            "in": "query",
            "description": "Limit result set to all items that have the specified term assigned in the categories taxonomy.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "type": "array",
            "in": "query",
            "description": "Limit result set to all items that have the specified term assigned in the tags taxonomy.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "sticky",
            "type": "boolean",
            "in": "query",
            "description": "Limit result set to items that are sticky."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/post"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "date",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, in the site's timezone.",
            "format": "date-time"
          },
          {
            "name": "date_gmt",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, as GMT.",
            "format": "date-time"
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the object unique to its type."
          },
          {
            "name": "status",
            "type": "string",
            "in": "formData",
            "description": "A named status for the object.",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private"
            ]
          },
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "The title for the object."
          },
          {
            "name": "content",
            "type": "string",
            "in": "formData",
            "description": "The content for the object."
          },
          {
            "name": "author",
            "type": "integer",
            "in": "formData",
            "description": "The id for the author of the object."
          },
          {
            "name": "excerpt",
            "type": "string",
            "in": "formData",
            "description": "The excerpt for the object."
          },
          {
            "name": "featured_media",
            "type": "integer",
            "in": "formData",
            "description": "The id of the featured media for the object."
          },
          {
            "name": "comment_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not comments are open on the object.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "ping_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not the object can be pinged.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "in": "formData",
            "description": "The format for the object.",
            "enum": [
              "standard",
              "aside",
              "chat",
              "gallery",
              "link",
              "image",
              "quote",
              "status",
              "video",
              "audio"
            ]
          },
          {
            "name": "sticky",
            "type": "boolean",
            "in": "formData",
            "description": "Whether or not the object should be treated as sticky."
          },
          {
            "name": "password",
            "type": "string",
            "in": "formData",
            "description": "A password to protect access to the content and excerpt."
          },
          {
            "name": "categories",
            "type": "array",
            "in": "formData",
            "description": "The terms assigned to the object in the category taxonomy.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "type": "array",
            "in": "formData",
            "description": "The terms assigned to the object in the post_tag taxonomy.",
            "items": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/post"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/post"
            }
          }
        }
      }
    },
    "/wp/v2/posts/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "password",
            "type": "string",
            "in": "query",
            "description": "The password for the post if it is password protected."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/post"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, in the site's timezone.",
            "format": "date-time"
          },
          {
            "name": "date_gmt",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, as GMT.",
            "format": "date-time"
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the object unique to its type."
          },
          {
            "name": "status",
            "type": "string",
            "in": "formData",
            "description": "A named status for the object.",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private"
            ]
          },
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "The title for the object."
          },
          {
            "name": "content",
            "type": "string",
            "in": "formData",
            "description": "The content for the object."
          },
          {
            "name": "author",
            "type": "integer",
            "in": "formData",
            "description": "The id for the author of the object."
          },
          {
            "name": "excerpt",
            "type": "string",
            "in": "formData",
            "description": "The excerpt for the object."
          },
          {
            "name": "featured_media",
            "type": "integer",
            "in": "formData",
            "description": "The id of the featured media for the object."
          },
          {
            "name": "comment_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not comments are open on the object.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "ping_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not the object can be pinged.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "in": "formData",
            "description": "The format for the object.",
            "enum": [
              "standard",
              "aside",
              "chat",
              "gallery",
              "link",
              "image",
              "quote",
              "status",
              "video",
              "audio"
            ]
          },
          {
            "name": "sticky",
            "type": "boolean",
            "in": "formData",
            "description": "Whether or not the object should be treated as sticky."
          },
          {
            "name": "password",
            "type": "string",
            "in": "formData",
            "description": "A password to protect access to the content and excerpt."
          },
          {
            "name": "categories",
            "type": "array",
            "in": "formData",
            "description": "The terms assigned to the object in the category taxonomy.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "type": "array",
            "in": "formData",
            "description": "The terms assigned to the object in the post_tag taxonomy.",
            "items": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/post"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "force",
            "type": "string",
            "in": "query",
            "description": "Whether to bypass trash and force deletion."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/post"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/posts/{parent}/revisions": {
      "get": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/post-revision"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/posts/{parent}/revisions/{id}": {
      "get": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/post-revision"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/post-revision"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/pages": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Current page of the collection.",
            "default": 1,
            "minimum": 1,
            "format": "number"
          },
          {
            "name": "per_page",
            "type": "integer",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "default": 10,
            "minimum": 1,
            "format": "number",
            "maximum": 100
          },
          {
            "name": "search",
            "type": "string",
            "in": "query",
            "description": "Limit results to those matching a string."
          },
          {
            "name": "after",
            "type": "string",
            "in": "query",
            "description": "Limit response to resources published after a given ISO8601 compliant date.",
            "format": "date-time"
          },
          {
            "name": "author",
            "type": "array",
            "in": "query",
            "description": "Limit result set to posts assigned to specific authors.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "author_exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes posts assigned to specific authors.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "type": "string",
            "in": "query",
            "description": "Limit response to resources published before a given ISO8601 compliant date.",
            "format": "date-time"
          },
          {
            "name": "exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "type": "array",
            "in": "query",
            "description": "Limit result set to specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "menu_order",
            "type": "integer",
            "in": "query",
            "description": "Limit result set to resources with a specific menu_order value."
          },
          {
            "name": "offset",
            "type": "integer",
            "in": "query",
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "orderby",
            "type": "string",
            "in": "query",
            "description": "Sort collection by object attribute.",
            "default": "date",
            "enum": [
              "date",
              "relevance",
              "id",
              "include",
              "title",
              "slug",
              "menu_order"
            ]
          },
          {
            "name": "parent",
            "type": "array",
            "in": "query",
            "description": "Limit result set to those of particular parent ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "parent_exclude",
            "type": "array",
            "in": "query",
            "description": "Limit result set to all items except those of a particular parent id.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "type": "string",
            "in": "query",
            "description": "Limit result set to posts with a specific slug."
          },
          {
            "name": "status",
            "type": "string",
            "in": "query",
            "description": "Limit result set to posts assigned a specific status; can be comma-delimited list of status types.",
            "default": "publish",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private",
              "trash",
              "auto-draft",
              "inherit",
              "any"
            ]
          },
          {
            "name": "filter",
            "type": "string",
            "in": "query",
            "description": "Use WP Query arguments to modify the response; private query vars require appropriate authorization."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/page"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "date",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, in the site's timezone.",
            "format": "date-time"
          },
          {
            "name": "date_gmt",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, as GMT.",
            "format": "date-time"
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the object unique to its type."
          },
          {
            "name": "status",
            "type": "string",
            "in": "formData",
            "description": "A named status for the object.",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private"
            ]
          },
          {
            "name": "parent",
            "type": "integer",
            "in": "formData",
            "description": "The id for the parent of the object."
          },
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "The title for the object."
          },
          {
            "name": "content",
            "type": "string",
            "in": "formData",
            "description": "The content for the object."
          },
          {
            "name": "author",
            "type": "integer",
            "in": "formData",
            "description": "The id for the author of the object."
          },
          {
            "name": "excerpt",
            "type": "string",
            "in": "formData",
            "description": "The excerpt for the object."
          },
          {
            "name": "featured_media",
            "type": "integer",
            "in": "formData",
            "description": "The id of the featured media for the object."
          },
          {
            "name": "comment_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not comments are open on the object.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "ping_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not the object can be pinged.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "menu_order",
            "type": "integer",
            "in": "formData",
            "description": "The order of the object in relation to other object of its type."
          },
          {
            "name": "template",
            "type": "string",
            "in": "formData",
            "description": "The theme file to use to display the object.",
            "enum": [
              "full-width.php"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/page"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/page"
            }
          }
        }
      }
    },
    "/wp/v2/pages/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "password",
            "type": "string",
            "in": "query",
            "description": "The password for the post if it is password protected."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/page"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, in the site's timezone.",
            "format": "date-time"
          },
          {
            "name": "date_gmt",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, as GMT.",
            "format": "date-time"
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the object unique to its type."
          },
          {
            "name": "status",
            "type": "string",
            "in": "formData",
            "description": "A named status for the object.",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private"
            ]
          },
          {
            "name": "parent",
            "type": "integer",
            "in": "formData",
            "description": "The id for the parent of the object."
          },
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "The title for the object."
          },
          {
            "name": "content",
            "type": "string",
            "in": "formData",
            "description": "The content for the object."
          },
          {
            "name": "author",
            "type": "integer",
            "in": "formData",
            "description": "The id for the author of the object."
          },
          {
            "name": "excerpt",
            "type": "string",
            "in": "formData",
            "description": "The excerpt for the object."
          },
          {
            "name": "featured_media",
            "type": "integer",
            "in": "formData",
            "description": "The id of the featured media for the object."
          },
          {
            "name": "comment_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not comments are open on the object.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "ping_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not the object can be pinged.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "menu_order",
            "type": "integer",
            "in": "formData",
            "description": "The order of the object in relation to other object of its type."
          },
          {
            "name": "template",
            "type": "string",
            "in": "formData",
            "description": "The theme file to use to display the object.",
            "enum": [
              "full-width.php"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/page"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "force",
            "type": "string",
            "in": "query",
            "description": "Whether to bypass trash and force deletion."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/page"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/pages/{parent}/revisions": {
      "get": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/page-revision"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/pages/{parent}/revisions/{id}": {
      "get": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/page-revision"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/page-revision"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/media": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Current page of the collection.",
            "default": 1,
            "minimum": 1,
            "format": "number"
          },
          {
            "name": "per_page",
            "type": "integer",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "default": 10,
            "minimum": 1,
            "format": "number",
            "maximum": 100
          },
          {
            "name": "search",
            "type": "string",
            "in": "query",
            "description": "Limit results to those matching a string."
          },
          {
            "name": "after",
            "type": "string",
            "in": "query",
            "description": "Limit response to resources published after a given ISO8601 compliant date.",
            "format": "date-time"
          },
          {
            "name": "author",
            "type": "array",
            "in": "query",
            "description": "Limit result set to posts assigned to specific authors.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "author_exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes posts assigned to specific authors.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "type": "string",
            "in": "query",
            "description": "Limit response to resources published before a given ISO8601 compliant date.",
            "format": "date-time"
          },
          {
            "name": "exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "type": "array",
            "in": "query",
            "description": "Limit result set to specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "type": "integer",
            "in": "query",
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "orderby",
            "type": "string",
            "in": "query",
            "description": "Sort collection by object attribute.",
            "default": "date",
            "enum": [
              "date",
              "relevance",
              "id",
              "include",
              "title",
              "slug"
            ]
          },
          {
            "name": "parent",
            "type": "array",
            "in": "query",
            "description": "Limit result set to those of particular parent ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "parent_exclude",
            "type": "array",
            "in": "query",
            "description": "Limit result set to all items except those of a particular parent id.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "type": "string",
            "in": "query",
            "description": "Limit result set to posts with a specific slug."
          },
          {
            "name": "status",
            "type": "string",
            "in": "query",
            "description": "Limit result set to posts assigned a specific status; can be comma-delimited list of status types.",
            "default": "inherit",
            "enum": [
              "inherit",
              "private",
              "trash"
            ]
          },
          {
            "name": "filter",
            "type": "string",
            "in": "query",
            "description": "Use WP Query arguments to modify the response; private query vars require appropriate authorization."
          },
          {
            "name": "media_type",
            "type": "string",
            "in": "query",
            "description": "Limit result set to attachments of a particular media type.",
            "enum": [
              "image",
              "video",
              "text",
              "application",
              "audio"
            ]
          },
          {
            "name": "mime_type",
            "type": "string",
            "in": "query",
            "description": "Limit result set to attachments of a particular mime type."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/attachment"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "date",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, in the site's timezone.",
            "format": "date-time"
          },
          {
            "name": "date_gmt",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, as GMT.",
            "format": "date-time"
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the object unique to its type."
          },
          {
            "name": "status",
            "type": "string",
            "in": "formData",
            "description": "A named status for the object.",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private"
            ]
          },
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "The title for the object."
          },
          {
            "name": "author",
            "type": "integer",
            "in": "formData",
            "description": "The id for the author of the object."
          },
          {
            "name": "comment_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not comments are open on the object.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "ping_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not the object can be pinged.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "alt_text",
            "type": "string",
            "in": "formData",
            "description": "Alternative text to display when resource is not displayed."
          },
          {
            "name": "caption",
            "type": "string",
            "in": "formData",
            "description": "The caption for the resource."
          },
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "The description for the resource."
          },
          {
            "name": "post",
            "type": "integer",
            "in": "formData",
            "description": "The id for the associated post of the resource."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/attachment"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/attachment"
            }
          }
        }
      }
    },
    "/wp/v2/media/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "password",
            "type": "string",
            "in": "query",
            "description": "The password for the post if it is password protected."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/attachment"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, in the site's timezone.",
            "format": "date-time"
          },
          {
            "name": "date_gmt",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, as GMT.",
            "format": "date-time"
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the object unique to its type."
          },
          {
            "name": "status",
            "type": "string",
            "in": "formData",
            "description": "A named status for the object.",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private"
            ]
          },
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "The title for the object."
          },
          {
            "name": "author",
            "type": "integer",
            "in": "formData",
            "description": "The id for the author of the object."
          },
          {
            "name": "comment_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not comments are open on the object.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "ping_status",
            "type": "string",
            "in": "formData",
            "description": "Whether or not the object can be pinged.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "alt_text",
            "type": "string",
            "in": "formData",
            "description": "Alternative text to display when resource is not displayed."
          },
          {
            "name": "caption",
            "type": "string",
            "in": "formData",
            "description": "The caption for the resource."
          },
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "The description for the resource."
          },
          {
            "name": "post",
            "type": "integer",
            "in": "formData",
            "description": "The id for the associated post of the resource."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/attachment"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "force",
            "type": "string",
            "in": "query",
            "description": "Whether to bypass trash and force deletion."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/attachment"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/sample-user": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Current page of the collection.",
            "default": 1,
            "minimum": 1,
            "format": "number"
          },
          {
            "name": "per_page",
            "type": "integer",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "default": 10,
            "minimum": 1,
            "format": "number",
            "maximum": 100
          },
          {
            "name": "search",
            "type": "string",
            "in": "query",
            "description": "Limit results to those matching a string."
          },
          {
            "name": "after",
            "type": "string",
            "in": "query",
            "description": "Limit response to resources published after a given ISO8601 compliant date.",
            "format": "date-time"
          },
          {
            "name": "author",
            "type": "array",
            "in": "query",
            "description": "Limit result set to posts assigned to specific authors.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "author_exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes posts assigned to specific authors.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "type": "string",
            "in": "query",
            "description": "Limit response to resources published before a given ISO8601 compliant date.",
            "format": "date-time"
          },
          {
            "name": "exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "type": "array",
            "in": "query",
            "description": "Limit result set to specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "type": "integer",
            "in": "query",
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "orderby",
            "type": "string",
            "in": "query",
            "description": "Sort collection by object attribute.",
            "default": "date",
            "enum": [
              "date",
              "relevance",
              "id",
              "include",
              "title",
              "slug"
            ]
          },
          {
            "name": "slug",
            "type": "string",
            "in": "query",
            "description": "Limit result set to posts with a specific slug."
          },
          {
            "name": "status",
            "type": "string",
            "in": "query",
            "description": "Limit result set to posts assigned a specific status; can be comma-delimited list of status types.",
            "default": "publish",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private",
              "trash",
              "auto-draft",
              "inherit",
              "any"
            ]
          },
          {
            "name": "filter",
            "type": "string",
            "in": "query",
            "description": "Use WP Query arguments to modify the response; private query vars require appropriate authorization."
          },
          {
            "name": "categories",
            "type": "array",
            "in": "query",
            "description": "Limit result set to all items that have the specified term assigned in the categories taxonomy.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "type": "array",
            "in": "query",
            "description": "Limit result set to all items that have the specified term assigned in the tags taxonomy.",
            "items": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sample-user"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "date",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, in the site's timezone.",
            "format": "date-time"
          },
          {
            "name": "date_gmt",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, as GMT.",
            "format": "date-time"
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the object unique to its type."
          },
          {
            "name": "status",
            "type": "string",
            "in": "formData",
            "description": "A named status for the object.",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private"
            ]
          },
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "The title for the object."
          },
          {
            "name": "content",
            "type": "string",
            "in": "formData",
            "description": "The content for the object."
          },
          {
            "name": "author",
            "type": "integer",
            "in": "formData",
            "description": "The id for the author of the object."
          },
          {
            "name": "categories",
            "type": "array",
            "in": "formData",
            "description": "The terms assigned to the object in the category taxonomy.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "type": "array",
            "in": "formData",
            "description": "The terms assigned to the object in the post_tag taxonomy.",
            "items": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/sample-user"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/sample-user"
            }
          }
        }
      }
    },
    "/wp/v2/sample-user/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "password",
            "type": "string",
            "in": "query",
            "description": "The password for the post if it is password protected."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/sample-user"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, in the site's timezone.",
            "format": "date-time"
          },
          {
            "name": "date_gmt",
            "type": "string",
            "in": "formData",
            "description": "The date the object was published, as GMT.",
            "format": "date-time"
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the object unique to its type."
          },
          {
            "name": "status",
            "type": "string",
            "in": "formData",
            "description": "A named status for the object.",
            "enum": [
              "publish",
              "future",
              "draft",
              "pending",
              "private"
            ]
          },
          {
            "name": "title",
            "type": "string",
            "in": "formData",
            "description": "The title for the object."
          },
          {
            "name": "content",
            "type": "string",
            "in": "formData",
            "description": "The content for the object."
          },
          {
            "name": "author",
            "type": "integer",
            "in": "formData",
            "description": "The id for the author of the object."
          },
          {
            "name": "categories",
            "type": "array",
            "in": "formData",
            "description": "The terms assigned to the object in the category taxonomy.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "type": "array",
            "in": "formData",
            "description": "The terms assigned to the object in the post_tag taxonomy.",
            "items": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/sample-user"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "force",
            "type": "string",
            "in": "query",
            "description": "Whether to bypass trash and force deletion."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/sample-user"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/sample-user/{parent}/revisions": {
      "get": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sample-user-revision"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/sample-user/{parent}/revisions/{id}": {
      "get": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/sample-user-revision"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "parent",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/sample-user-revision"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/types": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/type"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/types/{type}": {
      "get": {
        "parameters": [
          {
            "name": "type",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/type"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/statuses": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/status"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/statuses/{status}": {
      "get": {
        "parameters": [
          {
            "name": "status",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/status"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/taxonomies": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "type",
            "type": "string",
            "in": "query",
            "description": "Limit results to resources associated with a specific post type."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/taxonomy"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/taxonomies/{taxonomy}": {
      "get": {
        "parameters": [
          {
            "name": "taxonomy",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxonomy"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/categories": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Current page of the collection.",
            "default": 1,
            "minimum": 1,
            "format": "number"
          },
          {
            "name": "per_page",
            "type": "integer",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "default": 10,
            "minimum": 1,
            "format": "number",
            "maximum": 100
          },
          {
            "name": "search",
            "type": "string",
            "in": "query",
            "description": "Limit results to those matching a string."
          },
          {
            "name": "exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "type": "array",
            "in": "query",
            "description": "Limit result set to specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "orderby",
            "type": "string",
            "in": "query",
            "description": "Sort collection by resource attribute.",
            "default": "name",
            "enum": [
              "id",
              "include",
              "name",
              "slug",
              "term_group",
              "description",
              "count"
            ]
          },
          {
            "name": "hide_empty",
            "type": "boolean",
            "in": "query",
            "description": "Whether to hide resources not assigned to any posts."
          },
          {
            "name": "parent",
            "type": "integer",
            "in": "query",
            "description": "Limit result set to resources assigned to a specific parent."
          },
          {
            "name": "post",
            "type": "integer",
            "in": "query",
            "description": "Limit result set to resources assigned to a specific post."
          },
          {
            "name": "slug",
            "type": "string",
            "in": "query",
            "description": "Limit result set to resources with a specific slug."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/category"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "HTML description of the resource."
          },
          {
            "name": "name",
            "type": "string",
            "in": "formData",
            "description": "HTML title for the resource.",
            "required": true
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the resource unique to its type."
          },
          {
            "name": "parent",
            "type": "integer",
            "in": "formData",
            "description": "The id for the parent of the resource."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/category"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/category"
            }
          }
        }
      }
    },
    "/wp/v2/categories/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/category"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "HTML description of the resource."
          },
          {
            "name": "name",
            "type": "string",
            "in": "formData",
            "description": "HTML title for the resource."
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the resource unique to its type."
          },
          {
            "name": "parent",
            "type": "integer",
            "in": "formData",
            "description": "The id for the parent of the resource."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/category"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "force",
            "type": "string",
            "in": "query",
            "description": "Required to be true, as resource does not support trashing."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/category"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/tags": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Current page of the collection.",
            "default": 1,
            "minimum": 1,
            "format": "number"
          },
          {
            "name": "per_page",
            "type": "integer",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "default": 10,
            "minimum": 1,
            "format": "number",
            "maximum": 100
          },
          {
            "name": "search",
            "type": "string",
            "in": "query",
            "description": "Limit results to those matching a string."
          },
          {
            "name": "exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "type": "array",
            "in": "query",
            "description": "Limit result set to specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "type": "integer",
            "in": "query",
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "orderby",
            "type": "string",
            "in": "query",
            "description": "Sort collection by resource attribute.",
            "default": "name",
            "enum": [
              "id",
              "include",
              "name",
              "slug",
              "term_group",
              "description",
              "count"
            ]
          },
          {
            "name": "hide_empty",
            "type": "boolean",
            "in": "query",
            "description": "Whether to hide resources not assigned to any posts."
          },
          {
            "name": "post",
            "type": "integer",
            "in": "query",
            "description": "Limit result set to resources assigned to a specific post."
          },
          {
            "name": "slug",
            "type": "string",
            "in": "query",
            "description": "Limit result set to resources with a specific slug."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "HTML description of the resource."
          },
          {
            "name": "name",
            "type": "string",
            "in": "formData",
            "description": "HTML title for the resource.",
            "required": true
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the resource unique to its type."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/tag"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/tag"
            }
          }
        }
      }
    },
    "/wp/v2/tags/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/tag"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "description",
            "type": "string",
            "in": "formData",
            "description": "HTML description of the resource."
          },
          {
            "name": "name",
            "type": "string",
            "in": "formData",
            "description": "HTML title for the resource."
          },
          {
            "name": "slug",
            "type": "string",
            "in": "formData",
            "description": "An alphanumeric identifier for the resource unique to its type."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/tag"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "force",
            "type": "string",
            "in": "query",
            "description": "Required to be true, as resource does not support trashing."
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/tag"
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/wp/v2/users": {
      "get": {
        "parameters": [
          {
            "name": "context",
            "type": "string",
            "in": "query",
            "description": "Scope under which the request is made; determines fields present in response.",
            "default": "view",
            "enum": [
              "view",
              "embed",
              "edit"
            ]
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Current page of the collection.",
            "default": 1,
            "minimum": 1,
            "format": "number"
          },
          {
            "name": "per_page",
            "type": "integer",
            "in": "query",
            "description": "Maximum number of items to be returned in result set.",
            "default": 10,
            "minimum": 1,
            "format": "number",
            "maximum": 100
          },
          {
            "name": "search",
            "type": "string",
            "in": "query",
            "description": "Limit results to those matching a string."
          },
          {
            "name": "exclude",
            "type": "array",
            "in": "query",
            "description": "Ensure result set excludes specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "type": "array",
            "in": "query",
            "description": "Limit result set to specific ids.",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "type": "integer",
            "in": "query",
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Order sort attribute ascending or descending.",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "orderby",
            "type": "string",
            "in": "query",
            "description": "Sort collection by object attribute.",
            "default": "name",
            "enum": [
              "id",
              "include",
              "name",
              "registered_date",
              "slug",
              "email",
              "url"
            ]
          },
          {
            "name": "slug",
            "type": "string",
            "in": "query",
            "description": "Limit result set to resources with a specific slug."
          },
          {
            "name": "roles",
            "type": "array",
            "in": "query",
            "description": "Limit result set to resources matching at least one specific role provided. Accepts csv list or single role.",
            "items": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "oauth": [
              "basic"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/user"
              }
            }
          },
          "default": {
            "description": "error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "username",
            "type": "string",
            "in": "formData",
            "description": "Login name for the resource.",
            "required": true
          },
          {
[...]
